<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744488711259-h4u3ckapgbqbatcserumndqn9jvt4j1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744488711259-h4u3ckapgbqbatcserumndqn9jvt4j1e</string>
	<key>API_KEY</key>
	<string>AIzaSyDQtZFZlp1Fc-rNEEC5F2uIb5HZcSO5wUE</string>
	<key>GCM_SENDER_ID</key>
	<string>744488711259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TTestPTushAAppp</string>
	<key>PROJECT_ID</key>
	<string>testpush-bef4c</string>
	<key>STORAGE_BUCKET</key>
	<string>testpush-bef4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744488711259:ios:0083fe76842cb2cc983b7e</string>
	<key>DATABASE_URL</key>
	<string>https://testpush-bef4c.firebaseio.com</string>
</dict>
</plist>